---
layout: default
title: Home
---

<div id="home" class="home">
  <div class="home-section">
    <h1><i class="fa fa-bookmark"></i> Blog Posts</h1>
    <ul id="blog-posts" class="posts">
      {% for post in site.posts limit:5 %}
        <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% assign num_posts = site.posts | size %}
    {% if num_posts > 5 %}
    ...and {{ num_posts | minus: 5 }} more at <a href="{{site.url}}/archive/">Archive</a>.
    {% endif %}
  </div>
  <hr>
  <div class="home-section">
    <h1><i class="fa fa-code"></i> Projects</h1>
    <ul id="projects" class="projects">
      {% for project in site.data.projects %}
        <h4>{{ project.name }}</h4>

        <p>{{ project.description }}</p>

        <p>
          {% if project.github %}<a href="{{ project.github }}">Github</a> | {% endif %}
          {% if project.website %}<a href="{{ project.website }}">Website</a> | {% endif %}
          {% if project.video %}<a href="{{ project.video }}">Video</a> | {% endif %}
          {% for l in project.languages %}<i class="{{l}}"></i> {% endfor %}
        </p>
        {% unless forloop.last %}<hr>{% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
