body {
	font-family: 'Roboto', sans-serif;
	color: #666;
	margin: 0;
	line-height: 1;
}
.home {
	height: 100%;
	width: 96%;
	margin: 125px auto 0;
	max-width: 800px;
}
.home > h1 {
	text-align: center;
	margin-bottom: 6rem;
}

/* Header */
.header-home > .title {
	font-size: 4rem;
	margin: 0 0 15px;
	font-family: 'Reem Kufi', sans-serif;
}
.header-home > .description {
	font-size: 1.6rem;
	font-weight: 300;
	font-style: normal;
	color: #aaa;
	width: 100%;
	margin: 0 auto 10px;
}
.header-home {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 99;
	letter-spacing: -1px;
	color: #222;
	font-weight: 700;
}
.header-projects > a {
	font-size: inherit;
	margin: inherit;
	font-family: inherit;
	color: inherit;
	text-decoration: inherit;
}
.header-projects > a > .title {
	font-size: 4rem;
	margin: 0 0 15px;
	font-family: 'Reem Kufi', sans-serif;
}

/* Social Links */
.social-links {
    margin-top: 20px;
	height: auto;
}
.social-links > .link {
    margin: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 35px;
    width: 50px;
}
.social-links > .link:hover > .icon{
    fill: #4b0082;
}
.social-links > .link:hover:before {
    opacity: 1;
    display: inline-block;
    transform: translate3d(0,0,0);
    white-space: nowrap;
}
.social-links > .link:before {
	content: attr(data-title);
	display: none;
	position: absolute;
	bottom: -34px;
	left: -6px;
	margin: 0 auto;
	padding: 3px 10px;
	background: #222;
	color: #fff;
	border-radius: 2px;
	height: 22px;
	line-height: 22px;
	opacity: 0;
	transition: opacity 150ms linear, transform 150ms linear, -webkit-transform 150ms linear;
	transform: translate3d(0,-8px,0);
	z-index: 99;
}
.social-links > .link:after {
	content: "";
	position: absolute;
	top: 35px;
	left: 13px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 6px solid #222;
	opacity: 0;
	transition: opacity 150ms linear, transform 150ms linear, -webkit-transform 150ms linear;
	transform: translate3d(0,-8px,0);
	z-index: 100;
}
.social-links > .link:hover:after {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.social-links > .icon{
	transition: all ease-in-out .2s;
}
.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	fill: #000;
	text-align: center;
	color: #000;
	margin: 7px auto;
}

/* Nav */
.nav {
    position: absolute;
    right: 0;
    top: 0;
}
.nav > .list {
    padding: 0 13px 0;
}
.nav > .list > .item > .link {
    font-size: 1.4rem;
    padding: 20px 10px;
}

.nav-home {
    margin-top: 10px;
    text-align: center;
	display: block;
}
.nav-home > .list {
    padding: 0;
}
.nav-home > .list > .item > .link {
	font-size: 2rem;
	padding: 7px 15px;
	margin: 0;
	border-radius: 4%;
	transition: all .4s ease-in-out;
	width: 70px;
}
.nav-home > .list > .item > .link:hover {
	color: #666;
}

.nav, .nav-home > .list {
    list-style: none;
    margin: 0;
    padding: 0 13px 0;
}
.nav, .nav-home > .list > .item {
    display: inline-block;
}
.nav, .nav-home > .list > .item > .link {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 20px 10px;
    text-decoration: none;
	color: indigo;
}

/* Projects */
.projects-list {
	border-top: 1px solid #ededed;
    padding: 20px 0 0 0;
    margin: 40px 0 0;
    text-align: center;
    position: relative;
}
.projects-list:before {
	display: block;
	content: " ";
	width: 7px;
	height: 7px;
	border: #ededed 1px solid;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	background: #FFF;
	box-shadow: #FFF 0 0 0 5px;
	border-radius: 3px;
}
.projects-list > .project {
	width: 80%;
	margin: 20px auto;
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}
.projects-list > .-last {
	border-bottom: none;
}
.projects-list > .project > .header {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
}
.projects-list > .project > .description {
	margin-top: 10px;
	font-weight: 500;
	font-size: 1.4rem;
	color: #aaa;
}
.projects-list > .project > .description > a {
	text-decoration: none;
	transition: all .4s ease-in-out;
}
.projects-list > .project > .description > a:hover {
	color: #666;
}
.projects-list > .project > .languages {
	margin-top: 20px;
	font-size: 2rem;
}
.projects-list > .project > .languages > i {
	margin: 0px 10px;
}
.projects-list > .project > .links > .item > a:hover {
	color: #666;
}
.projects-list > .project > .links {
    list-style: none;
    margin: 0;
    padding: 0 13px 0;
}
.projects-list > .project > .links > .item {
    display: inline-block;
}
.projects-list > .project > .links > .item > a {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 20px 10px;
    text-decoration: none;
	padding: 10px 15px;
	margin: 0;
	border-radius: 4%;
	transition: all .4s ease-in-out;
	color: indigo;
}

/* Footer */
.footer-main {
    border-top: 1px solid #ededed;
    padding: 40px 0;
    margin: 40px 0 0;
    font-size: 1rem;
    color: #aaa;
    font-weight: 300;
    text-align: center;
    position: relative;
}
.footer-main:before {
	display: block;
	content: " ";
	width: 7px;
	height: 7px;
	border: #ededed 1px solid;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	background: #FFF;
	box-shadow: #FFF 0 0 0 5px;
	border-radius: 3px;
}
.footer-main > .link {
	display: inline;
}
.footer-main > .link > .icon {
	width: 15px !important;
	fill: #aaa !important;
	transition: ease-in-out all .3s;
	position: relative;
	top: 3px;
	display: inherit;
	margin: 0;
}
.footer-main > .link > .icon:hover {
	fill: #4b0082 !important;
}

.footer-main > .extra {
	color: #aaa;
	margin-top: 0;
}
.footer-main > .extra > .link {
	color: #222;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: ease-in-out all .3s;
	padding-bottom: 1px;
}
.footer-main > .extra > .link:hover {
	border-color: #aaa;
}
