/* Typography */

$blue: B1D1E0;

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 26px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 28px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 6rem;
	font-weight: 600;
}

main > .tagline {
	font-size: 2rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .tagline a, a:visited, a:active {
  color: #1aa597;
}

main > .tagline a:hover {
  color: #35baad;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

main {
	background: #EDEDED;
	color: #AF3D4E;
}

.icons-social a {
  font-size: 1.5rem;
	color: #AF3D4E;
}

.icons-social a svg path{
	fill: #AF3D4E;
}
