/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 24px;
	}
	.icons-social {
		margin: 10vh 2rem;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 26px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 28px;
	}
}

.icons-social i {
	font-size: 3rem;
}

/* Custom Styles */

html body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
  	z-index: 0;
	background: $background-color;
	color: $text-color--main;
}

a {
  text-decoration: underline;
  color: #bc8b69;
}

a:hover {
  color: $text-color--highlight;
}

.intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding: 0.5rem;
}

.tagline {
  font-weight: 100;
  padding: 0.5rem;
}

.resume {
  font-weight: 800;
}

.icons-social {
  padding: 10px;
  color: $text-color--main;
  margin: 1vh 2rem;
}

.icons-social--row {
   margin: 10vh 0;
}

.icons-social a svg path {
  fill: $text-color--main;
}

.card-title {
  position: absolute;
  top: 0;
}

.project-title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15vh;
  position: absolute;
  top: 100vh;
}

.project {
  padding: 0.25rem;
  margin: 2vh auto;
}

.project-logos {
  padding: .5rem;
}

.project h4 {
  font-weight: 600;
}

.project p {
  font-size: .65rem;
}

.project i {
  font-size: 1.5rem;
}

.project a:hover {
  color: #9aacb8;
}

.project .row {
  align-items: center;
}

.projects-container {
  margin: 20vh 0 0 5vh;
}

@media (max-height: 768px) {
  .about-container {
    position: absolute;
    top: 250px;
    left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  }

  .page-down {
    cursor: pointer;
    position: absolute;
    top: 800px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  
  .project-title {
    position: absolute;
    top: 900px;
  }
  
  .projects-container {
    position: absolute;
    top: 1050px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

.page-down {
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  a {
    text-decoration: none;
  }
}

section {
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
