/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 24px;
	}
	.icons-social {
		margin: 10vh 2rem;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 26px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 28px;
	}
}

.icons-social i {
	font-size: 3rem;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
  	z-index: 0;
	background: $background-color;
	color: $text-color--main;
}

.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3rem;
	font-weight: 600;
}

.tagline {
  font-weight: 100;
}

.resume {
  font-weight: 800;
}

a:hover {
  color: $text-color--highlight;
}

.icons-social {
	padding: 10px;
	color: $text-color--main;
	margin: 1vh 2rem;
}

@media (min-width: 768px) {
	.icons-social {
		margin: 10vh 2rem;
	}
}

.icons-social a svg path{
	fill: $text-color--main;
}

section {
	min-height: 100vh;
	height: 100vh;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
