$bark: #60412B;
$lead: #9AACB8;
$gunmetal: #3E3E3B;
$nightfall: #3C455C;
$burnt-amber: #B37C57;
$frost: #DDE2E3;
$cashmere: #CBC5C1;
$fresh: #555;
$gray: #555;
$text-color--main: $gray;
$text-color--highlight: $lead;
$card-color: $cashmere;
$background-color: $nightfall;
