$lead: #9AACB8;
$nightfall: #3C455C;
$burnt-amber: #BC8B69;
$cashmere: #CBC5C1;
$gray: #555;

$text-color--main: $gray;
$text-color--highlight: $lead;
$text-color--link: $burnt-amber;
$card-color: $cashmere;
$background-color: $nightfall;
