<nav>
  <h1> </h1>
  <a href="/">
      {% assign image=site.data.theme.profile_image[0] %} 
      {% include srcset-sizes.html id="logo" %}
    <!-- <img src="{{ site.url }}/assets/img/me_square.jpg" id="logo" alt="Blog logo"/> -->
  </a>
  <h2>I'm <br>
    <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Making things, <br>
      Writing Software.</p>
  </div>
  <div id="resume">
    <a href="{{ site.url }}/assets/resume.pdf"><i class="fa fa-file-text"></i> Resume</a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
